# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

# OTW support configuration

menuconfig MCUX_COMPONENT_middleware.wireless.framework.otw
    bool "Over-The-Wire External Device Communication (OTW) for Matter"
    select MCUX_COMPONENT_component.igpio_adapter
    select MCUX_COMPONENT_component.software_crc_adapter
    select MCUX_COMPONENT_component.lpuart_adapter
    select MCUX_COMPONENT_component.osa
    depends on MCUX_COMPONENT_utility.debug_console || MCUX_COMPONENT_utility.debug_console_lite
    help
      Read/Write/Flash operation APIs to communicate Over The Wire with external transceiver.

if MCUX_COMPONENT_middleware.wireless.framework.otw

endif