# Copyright 2024-2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

if MCUX_COMPONENT_middleware.wireless.framework.platform.kw45_k32w1_mcxw71 || MCUX_COMPONENT_middleware.wireless.framework.platform.kw47_mcxw72

choice MCUX_COMPONENT_middleware.wireless.framework.seclib_rng_port
    default MCUX_COMPONENT_middleware.wireless.framework.seclib_rng_port.secure_subsystem
endchoice

config MCUX_COMPONENT_middleware.wireless.framework.seclib_rng_port.secure_subsystem
    select MCUX_COMPONENT_middleware.secure-subsystem.elemu.port_kw45_k4w1

config MCUX_COMPONENT_middleware.wireless.framework.seclib_rng_port.psa
    select MCUX_COMPONENT_component.psa_crypto_driver.ele_s200
    select MCUX_COMPONENT_middleware.secure-subsystem.elemu.crypto_sss_interface

config MCUX_COMPONENT_middleware.wireless.framework.platform.ics
    select MCUX_COMPONENT_middleware.wireless.framework.function_lib
    imply MCUX_COMPONENT_middleware.wireless.framework.workq
    select MCUX_COMPONENT_component.lists
    select MCUX_COMPONENT_component.rpmsg_adapter

config MCUX_COMPONENT_middleware.wireless.framework.platform.rng
    select MCUX_COMPONENT_middleware.wireless.framework.platform.ics

config MCUX_COMPONENT_middleware.wireless.framework.platform.ble
    select MCUX_COMPONENT_middleware.wireless.framework.hw_parameter
    select MCUX_COMPONENT_middleware.wireless.framework.seclib_rng
    select MCUX_COMPONENT_middleware.wireless.framework.platform.ics
    imply MCUX_COMPONENT_middleware.wireless.framework.workq
    imply MCUX_COMPONENT_middleware.wireless.controller_api

config MCUX_COMPONENT_middleware.wireless.framework.platform.external_flash
    select MCUX_COMPONENT_component.flash_nor_lpspi
    select MCUX_PRJSEG_module.board.wireless.board.extflash

config MCUX_COMPONENT_middleware.wireless.framework.platform.internal_flash
    select MCUX_COMPONENT_component.flash_adapter

config MCUX_COMPONENT_middleware.wireless.framework.platform.sensors
    select MCUX_COMPONENT_middleware.wireless.framework.platform.ics
    select MCUX_COMPONENT_device.utility

config MCUX_COMPONENT_middleware.wireless.framework.platform.lowpower
    select MCUX_COMPONENT_component.power_manager_framework
    select MCUX_COMPONENT_middleware.wireless.framework.platform.ics
    select MCUX_COMPONENT_component.mem_manager
    select MCUX_COMPONENT_driver.vbat

config MCUX_COMPONENT_middleware.wireless.framework.platform.lowpower_timer
    select MCUX_COMPONENT_component.timer_manager

config MCUX_COMPONENT_middleware.wireless.framework.platform.ot
    select MCUX_COMPONENT_component.serial_manager
    select MCUX_COMPONENT_middleware.wireless.framework.platform.ics
    select MCUX_COMPONENT_middleware.wireless.framework.hw_parameter
    select MCUX_COMPONENT_middleware.wireless.framework.seclib_rng

config MCUX_COMPONENT_middleware.wireless.framework.platform.reset
    select MCUX_COMPONENT_component.reset_adapter
    select MCUX_COMPONENT_driver.wuu
    select MCUX_COMPONENT_driver.cmc
    select MCUX_COMPONENT_driver.lptmr

config MCUX_COMPONENT_middleware.wireless.framework.platform.ota
    select MCUX_COMPONENT_component.flash_adapter

config MCUX_COMPONENT_middleware.wireless.framework.platform.lcl
    select MCUX_COMPONENT_middleware.wireless.framework.function_lib
    select MCUX_COMPONENT_middleware.wireless.framework.seclib_rng
    select MCUX_COMPONENT_driver.trdc
    select MCUX_COMPONENT_driver.port
    select MCUX_COMPONENT_driver.gpio

config MCUX_COMPONENT_middleware.wireless.framework.platform.zb
    select MCUX_COMPONENT_component.rpmsg_adapter

endif

## KW43

if MCUX_COMPONENT_middleware.wireless.framework.platform.kw43_mcxw70

choice MCUX_COMPONENT_middleware.wireless.framework.seclib_rng_port
    default MCUX_COMPONENT_middleware.wireless.framework.seclib_rng_port.sw
endchoice

config MCUX_COMPONENT_middleware.wireless.framework.platform.ics
    select MCUX_COMPONENT_middleware.wireless.framework.function_lib
    select MCUX_COMPONENT_component.rpmsg_adapter
    imply MCUX_COMPONENT_middleware.wireless.framework.workq

config MCUX_COMPONENT_middleware.wireless.framework.platform.rng
    select MCUX_COMPONENT_middleware.wireless.framework.platform.ics

config MCUX_COMPONENT_middleware.wireless.framework.platform.ble
    #select MCUX_COMPONENT_middleware.wireless.framework.hw_parameter
    select MCUX_COMPONENT_middleware.wireless.framework.seclib_rng
    select MCUX_COMPONENT_middleware.wireless.framework.platform.ics
    imply MCUX_COMPONENT_middleware.wireless.framework.workq
    imply MCUX_COMPONENT_middleware.wireless.controller_api

config MCUX_COMPONENT_middleware.wireless.framework.platform.sensors
    #select MCUX_COMPONENT_middleware.wireless.framework.platform.ics
    #select MCUX_COMPONENT_device.utility

config MCUX_COMPONENT_middleware.wireless.framework.platform.internal_flash
    select MCUX_COMPONENT_component.flash_adapter

config MCUX_COMPONENT_middleware.wireless.framework.platform.ota
    select MCUX_COMPONENT_component.flash_adapter

config MCUX_COMPONENT_middleware.wireless.framework.platform.lcl
    select MCUX_COMPONENT_middleware.wireless.framework.function_lib
    select MCUX_COMPONENT_middleware.wireless.framework.seclib_rng
    #select MCUX_COMPONENT_driver.trdc
    select MCUX_COMPONENT_driver.port
    select MCUX_COMPONENT_driver.gpio

config MCUX_COMPONENT_middleware.wireless.framework.platform.reset
    select MCUX_COMPONENT_component.reset_adapter
    select MCUX_COMPONENT_driver.wuu
    # select MCUX_COMPONENT_driver.cmc
    select MCUX_COMPONENT_driver.lptmr

endif
