# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

# FactoryDataProvider configuration options


menuconfig MCUX_COMPONENT_middleware.wireless.framework.factory_data_provider
    bool "Factory Data Provider (FDP) for Matter"
    imply MCUX_COMPONENT_component.mflash_offchip
    select MCUX_COMPONENT_middleware.mbedtls
    select MCUX_COMPONENT_middleware.freertos-kernel
    help
      This module provides an interface to retrieve factory data used in Matter context.

if MCUX_COMPONENT_middleware.wireless.framework.factory_data_provider

endif