# Copyright 2024-2025 NXP
# SPDX-License-Identifier: BSD-3-Clause

if MCUX_COMPONENT_middleware.wireless.framework.platform.MIMXRT595S

config MCUX_COMPONENT_middleware.wireless.framework.platform.lowpower
    select MCUX_COMPONENT_component.power_manager_framework
    select MCUX_COMPONENT_driver.lpc_rtc
    select MCUX_COMPONENT_driver.power

endif