# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

# HWParameter configuration options


menuconfig MCUX_COMPONENT_middleware.wireless.framework.hw_parameter
    bool "Factory HW/Applications Parameters"
    select MCUX_COMPONENT_component.mem_manager
    select MCUX_COMPONENT_component.flash_adapter
    select MCUX_COMPONENT_middleware.wireless.framework.function_lib
    depends on MCUX_COMPONENT_middleware.wireless.framework.platform
    help
      Read and Write APIs to Flash for Factory HW parameters and Application specific parameters.
