# Copyright 2025 NXP
# SPDX-License-Identifier: BSD-3-Clause

menuconfig MCUX_COMPONENT_middleware.wireless.framework.dbg.sbtsnoop
    bool "btsnoop HCI logging"
    depends on MCUX_COMPONENT_utility.debug_console || MCUX_COMPONENT_utility.debug_console_lite
    select MCUX_COMPONENT_component.osa
    help
      This component provides btsnoop support for HCI logging.

if MCUX_COMPONENT_middleware.wireless.framework.dbg.sbtsnoop
    choice MCUX_COMPONENT_middleware.wireless.framework.dbg.sbtsnoop.port
        prompt "sbtsnoop port selection"
        default MCUX_COMPONENT_middleware.wireless.framework.dbg.sbtsnoop.port.nxp_ble
        config MCUX_COMPONENT_middleware.wireless.framework.dbg.sbtsnoop.port.nxp_ble
            bool "NXP BLE host stack"
            select MCUX_COMPONENT_component.timer_manager
        # Additional port can be added if needed.
    endchoice
endif
